<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <nav class="navbar navbar-default" layout:fragment="header">
        
        <div id="headerArea">
        

        <!-- <table> -->
            <!-- <tr> -->
            <!-- <th:block th:if="${userData.user_no == 1}">
                <img src="/image/wallpaper/jell.jfif">
            </th:block> -->
            <!-- <th> -->
            <img th:src="${userData.title_img_path}">
            <br/>
            <!-- </th>
            </tr>
        </table> -->
        <th valign="center">
            <font size="6"> 
                <!-- <a class="navbar-brand" href="/">ストブリ英会話</a> -->
                <span th:text="${'問題ダゼ。' + userData.first_name + '。'}"></span>
            </font>
            </th>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                
                <!-- <th:block th:if="${userData.userNo == 1}">
                    <img src="../../static/image/wallpaper/jell.jfif">
                </th:block>
                <th:block th:if="${userData.userNo == 2}">
                    <img src="../../static/image/wallpaper/coron.jfif">
                </th:block> -->
            </div>
            <div class="collapse navbar-collapse" id="navigation">
                <!-- <p class="navbar-text navbar-right">ログイン中</p> -->
                <!-- <p class="navbar-text navbar-right" th:text = "${ 'ログインユーザー：' + userData.first_name }" ></p> -->
            </div>
        </div>
    </div>

    </nav>
</body>
</html>
