header {
    /* https://lopan.jp/halfscreen-photo-header/ */
	/* position: relative;
	background: url(../image/wallpaper/jell.jfif) center; */
}


#mainArea {
    width: 444px;
    margin-bottom: 40px;
    margin-left: 20px;
    /* padding:2px; */
    /* border : solid 1px; */
    text-align: left;
	/* vertical-align: top; */
}


#headerArea {
background-color: #cae4ff;
}

#mainArea img {
    width: 60%;
}