<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>いんでっくす!!!</title>
        <script src="../js/proc.js"></script>
</head>
<body>
    <h1>いんでっくすあああ</h1>
</body>
</html> -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>ホーム</title>
  <link rel="stylesheet" th:href="@{/css/study.css}">
  <!-- <header style="background-image:url(../static/image/coron.jfif)"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<!-- <body style="background-image:url(../image/wallpaper/jell.jfif)"> -->

<body>
  <!-- <header style="background-image:url(../static/image/coron.jfif)"> -->
  <div layout:fragment="content">
    <!-- 画面固有のjs -->
    <div layout:fragment="script_js">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script type="text/javascript" th:src="@{/demo.js}"></script>
      <script type="text/javascript" th:src="@{/js/proc.js}"></script>
    </div>

    <div class="container">
      <form id="frmEngWord" th:object="${form}" class="">
        <!--ピンポーン-->
        <!-- <audio id="seikai" src="mp3/seikai.mp3" controls hidden> </audio> -->
        <!--テスト-->
        <!-- <th:block th:include="this::search_test()"></th:block> -->
        <!--検索条件-->
        <th:block th:include="this::search_condition()"></th:block>
        <!--検索結果-->
        <th:block th:include="this::search_result()"></th:block>
      </form>
    </div>
  </div>
  </div>
</body>

<div th:fragment="search_condition()">
  <div class="row">
    <div class="card col-5">
      <div class="card-header">
        <h3>設定</h3>
      </div>
      <div class="card-body">
        <div class="form-group m-1">
          <label class="col-1" for="selectschoolType">職業</label>
          <select class="col-4" id="selectschoolType" name="selectschoolType">
            <option th:each="item : ${scoolTypeMap}" th:value="${item.key}" th:text="${item.value}" th:selected="${item.key == selectedSchoolType}"></option>
          </select>
        </div>
        <div class="form-group m-1">
        </div>
        <div class="form-group m-1">
          <label class="col-1" for="selectWordType">単語</label>
          <select class="col-4" id="selectWordType" name="selectWordType">
            <option th:each="item : ${engWordTypeMap}" th:value="${item.key}" th:text="${item.value}" th:selected="${item.key == selectedEngWordType}"></option>
          </select>
        </div>
        <div class="form-group m-1">
          <label class="col-1" for="selectViewType">表示</label>
          <select class="col-4" id="selectViewType" name="selectViewType">
            <option th:each="item : ${viewTypeMap}" th:value="${item.key}" th:text="${item.value}" th:selected="${item.key == selectedViewType}"></option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group my-1">
      <input class="col-5 btn btn-secondary" type="button" value="テスト" th:onclick="formSubmit(this,this.form, [[${userData.user_no}]])">
    </div>
  </div>
</div>


<div th:fragment="search_result()">

  <div class="row mt-5">
    <div class="card col-5">
      <div class="card-header">
        <h3>問題</h3>
      </div>

      <div class="card-deck">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>NO</th>
                <th>日本語</th>
                <th>英語</th>
                <th>help</th>
              </tr>
            </thead>

            <tbody>
              <th:block th:each="engWord, iterStat : ${engWordList}" id="aaa">
                <tr>
                  <td th:text="${__iterStat.index__ + 1}"></td>
                  <td th:text="${engWord.ask}"></td>
                  <td>
                    <input name="mondai" class="s__inputtext" type="text" style="left:400px;" th:onchange="onclickButton(form,[[${engWord}]],[[${userData}]],[[${iterStat.index}]])">
                    <div name="ansComment"></div><br />
                    <img name="ansOkImg" th:src="${engWord.gazoPathOK}" style="display:none" width="200pt">
                    <img name="ansNGImg" th:src="@{/image/はずれ.png}" style="display:none">
                  </td>
                  <td>
                    <input type="button" name="googleTeacher" value="help" th:onclick="onClickGoogleTeacher([[${engWord}]],[[${userData}]],[[${iterStat.index}]])">
                  </td>
                </tr>
              </th:block>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div th:fragment="search_condition_bk()">
  <section class="right">
    　職業
    <select class="right__info" id="selectschoolType" name="selectschoolType">
      <option th:each="item : ${scoolTypeMap}" th:value="${item.key}" th:text="${item.value}" th:selected="${item.key == selectedSchoolType}"></option>
    </select>
    <br />　学年
    <select class="right__info" id="selectschoolYear" name="selectschoolYear">
      <option th:each="item : ${schoolYearMap}" th:value="${item.key}" th:text="${item.value}" th:selected="${item.key == selectedSchoolYear}"></option>
    </select>
    <br />　単語
    <select class="right__info" id="selectWordType" name="selectWordType">
      <option th:each="item : ${engWordTypeMap}" th:value="${item.key}" th:text="${item.value}" th:selected="${item.key == selectedEngWordType}"></option>
    </select>
    <br />　表示
    <select class="right__info" id="selectViewType" name="selectViewType">
      <option th:each="item : ${viewTypeMap}" th:value="${item.key}" th:text="${item.value}" th:selected="${item.key == selectedViewType}"></option>
    </select>
    <br />
    <input type="button" value="　設　定　" th:onclick="formSubmit(this,this.form, [[${userData.user_no}]])">
    <br /><br />
  </section>
</div>

<div th:fragment="search_result_bk()">
  <div id="mainArea">
    <table cellspacing="0" bordercolor="#333333">
      <th:block th:each="engWord, iterStat : ${engWordList}" id="aaa">
        <div>
          <th:block th:text="${engWord.ask}" width="200pt">
        </div>
        <input name="mondai" class="s__inputtext" type="text" style="left:400px;" th:onchange="onclickButton(form,[[${engWord}]],[[${userData}]],[[${iterStat.index}]])">
        <input type="button" name="googleTeacher" value="help" th:onclick="onClickGoogleTeacher([[${engWord}]],[[${userData}]],[[${iterStat.index}]])">
        <br /><br />
        <img name="ansOkImg" th:src="${engWord.gazoPathOK}" style="display:none" width="200pt">
        <img name="ansNGImg" th:src="@{/image/はずれ.png}" style="display:none">
        <br />
        <div name="ansComment"></div><br />
        <div id="testtest">
          <div id="player"></div>
        </div>
      </th:block>
    </TABLE>
  </div>
</div> -->


</html>