<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>いんでっくす!!!</title>
        <script src="../js/proc.js"></script>
</head>
<body>
    <h1>いんでっくすあああ</h1>
</body>
</html> -->

<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>ホーム</title>
	<link rel="stylesheet" th:href="@{/css/study.css}">
	<!-- <header style="background-image:url(../static/image/coron.jfif)"> -->
</head>
    <!-- <body style="background-image:url(../image/wallpaper/jell.jfif)"> -->
	<body>
		<!-- <header style="background-image:url(../static/image/coron.jfif)"> -->
		<div layout:fragment="content">
		<!-- 画面固有のjs -->
		<div layout:fragment="script_js">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<!-- <script type="text/javascript" th:src="@{./js/proc.js}"></script> -->
			<script type="text/javascript" th:src="@{/demo.js}"></script>
			<script type="text/javascript" th:src="@{/js/proc.js}"></script>
			<!-- <link rel="stylesheet" th:href="sample.css"> -->
			<!-- <script th:src="${'../js/proc.js'" charset="utf-8"></script> -->
		</div>

		<form id="frmEngWord" th:object="${form}" class="">
			<audio id="seikai" src="mp3/seikai.mp3" controls hidden> </audio>
			
				　職業
			<select id="selectschoolType" name="selectschoolType">
				<option th:each="item : ${scoolTypeMap}" th:value="${item.key}"  th:text="${item.value}" th:selected="${item.key == selectedSchoolType}" ></option>
			</select>
			<br/>　学年
			<select id="selectschoolYear" name="selectschoolYear" >
				<option th:each="item : ${schoolYearMap}" th:value="${item.key}"  th:text="${item.value}" th:selected="${item.key == selectedSchoolYear}" ></option>
			</select>
			<br/>　単語
			<select id="selectWordType" name="selectWordType">
				<option th:each="item : ${engWordTypeMap}" th:value="${item.key}"  th:text="${item.value}" th:selected="${item.key == selectedEngWordType}" ></option>
			</select>
			<br/>　表示
			<select id="selectViewType" name="selectViewType">
				<option th:each="item : ${viewTypeMap}" th:value="${item.key}"  th:text="${item.value}" th:selected="${item.key == selectedViewType}" ></option>
			</select>
			<br/>
			<input type="button" value="　設　定　" th:onclick="formSubmit(this,this.form, [[${userData.user_no}]])" >
			<br/><br/>
			<div id="mainArea">
				<table border="0.7" cellspacing="0" bordercolor="#333333" >
					<th:block th:each ="engWord, iterStat : ${engWordList}" id="aaa">
						<div >
							<div>
								<th:block th:text="${engWord.ask}" width="200pt" >
							</div>
							<input name="mondai" class="s__inputtext" type="text" style="left:400px;" th:onchange="onclickButton(form,[[${engWord}]],[[${userData}]],[[${iterStat.index}]])" >
							<input type="button" name="googleTeacher" value= "help" th:onclick="onClickGoogleTeacher([[${engWord}]],[[${userData}]],[[${iterStat.index}]])">
							<br/><br/>
							<img name="ansOkImg" th:src="${engWord.gazoPathOK}" style="display:none" width="200pt">
							<img name="ansNGImg" th:src="@{/image/はずれ.png}" style="display:none">
							<br/>
							<div name="ansComment"></div>
						</div>
					</th:block>
				</TABLE>
			</div>
			
			<!-- ■ユーチューブ埋め込み -->
			<!-- <iframe id="seikai_video"  width="560" height="315" th:src="${'https://www.youtube.com/embed/' +  dogaData.youtube_url + '?enablejsapi=1&192.168.1.1:8080'}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
			<div id="player"></div>
			<div id="youtube_url" th:text="${dogaData.youtube_url}" hidden></div>
		</th:block>
		</div>
		</form>
		</div>
	</body>
</html> 


