<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.EngWordMapper">

    <!-- <resultMap id="testResultMap" type="com.example.demo.DemoForm" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap> -->
    <select id="selectTest" resultType="com.example.demo.form.EngWordForm">
    select 
        id
        ,name
    from 
        test_table
    limit 1
    </select>

    <select id="selectEngWordList" resultType="com.example.demo.form.EngWordForm">
        SELECT
            ewm.mondai_id,
            ewm.school_type,
            ewm.school_year,
            ewm.word_type,
            ewm.mondai,
            ewm.ask,
            ewm.hint,
            ewm.gazoPathOK,
            ewm.gazoPathNG,
            ewm.dogaUrl,
            ewm.kaisetu,
            ewm.ok_comment,
            ewm.ng_comment
        FROM ENG_WORD_MASTER ewm
        LEFT OUTER JOIN seiseki_tbl st
            ON ewm.mondai_id = st.mondai_id
        LEFT OUTER JOIN user_master2 um
            ON st.user_no = um.user_no 
            AND um.user_no = 1  
        WhERE
            ewm.school_type = #{schoolType}           -- 小中高
            <if test="schoolYear != 0">
                AND ewm.school_year = #{schoolYear}   -- 学年
            </if>
            <if test="wordType != 0">
                AND ewm.word_type = #{wordType}
            </if>
            AND st.OK_count is null
        LIMIT 20
    </select>

</mapper>
