<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserDataMapper">

    <!-- <resultMap id="testResultMap" type="com.example.demo.DemoForm" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap> -->
    <select id="selectTest" resultType="com.example.demo.form.EngWordForm">
    select 
        id
        ,name
    from 
        test_table
    limit 1
    </select>

    <select id="selectUserData" resultType="com.example.demo.form.UserData">
    SELECT
        um.user_no,
        um.user_id,
        um.password,
        um.last_name,
        um.first_name,
        um.level,
        um.title_img_path,
        um.school_class,
        um.school_type,
        um.school_year,
        um.word_type
    FROM
        USER_MASTER2 um
    WHERE
        um.user_no = #{user_no}
    </select>

    <!-- **********************-->
    <!-- Update                -->
    <!-- **********************-->
    <update id="updateUseEngWord">
        UPDATE user_master2
          SET 
            word_type = #{word_type}
          WHERE 
            user_no = #{user_no}
    </update>

</mapper>